.destination-card {
  align-items: flex-start;
  background-color: gray;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-end;
  margin: 10px 5px;
  overflow: hidden;
  padding: 15px;
  position: relative;
  transition: 0.5s;
  z-index: 1;
}

.destination-card p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.destination-img {
  border-radius: 5px;
  bottom: 7px;
  left: 7px;
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: -1;
}

.destination-img::after {
  background: linear-gradient(transparent, black);
  border-radius: 5px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.8s;
  width: 100%;
  z-index: -1;
}

.destination-img:hover::after {
  background: linear-gradient(rgba(0, 0, 0, 0.6), black);
  border-radius: 5px;
  transition: 0.8s;
}

.destination-card:hover .destination-img {
  transform: scale(1.1);
  transition: 0.8s;
}

.destination-card:hover .destination-img::after {
  background: linear-gradient(rgba(0, 0, 0, 0.6), black);
  border-radius: 5px;
  transition: 0.8s;
}

.bg-my-bookings {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background: url("https://i.ibb.co/tpKVHPN/pexels-artem-beliaikin-853199.jpg")
    no-repeat center center/cover;
}

.bg-my-bookings::after {
  background: rgba(0, 0, 0, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: -1;
}

.booking-view {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
  padding: 20px;

  box-shadow: 0.25em 0.25em 0.75em rgb(0 0 0 / 55%),
    0.125em 0.125em 0.25em rgb(0 0 0 / 25%);
}

.booking-view img {
  border-radius: 7px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}
