#review-slider {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: end;
  padding-bottom: 50px;
}

.review-card {
  color: rgb(184, 184, 184);
  font-family: "Neue Montreal", Arial, Helvetica, sans-serif;
  font-weight: 500;
  mix-blend-mode: difference;
  padding: 90px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.review-card:hover {
  color: #fff;
}

.review-card > span {
  position: relative;
  white-space: nowrap;
  width: 400px;
  z-index: 2;
}

.img-wrapper {
  height: 300px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.5) rotate(-15deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 400px;
  z-index: 1;
}

.img-wrapper .comment {
  bottom: 15%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  left: 30%;
  position: absolute;
  transform: translate(-30%);
  text-transform: initial;
  z-index: 1;
}

.img-wrapper::after {
  background: linear-gradient(transparent, black);
  border-radius: 5px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.8s;
  width: 100%;
}

.review-card img {
  height: 100%;
  object-fit: cover;
  position: relative;
  transform: scale(4);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
}

.review-card:hover .img-wrapper {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotate(-4deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.review-card:hover img {
  opacity: 1;
  transform: scale(1.5);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
