#cursor-slider {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: end;
  padding-bottom: 50px;
}

#cursor-slider > a {
  color: rgb(184, 184, 184);
  font-family: "Neue Montreal", Arial, Helvetica, sans-serif;
  font-weight: 500;
  mix-blend-mode: difference;
  padding: 2em 0.4em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#cursor-slider a:hover {
  color: #fff;
}

#cursor-slider > a > span {
  position: relative;
  width: 400px;
  z-index: 2;
}

#cursor-slider a .img-wrapper {
  height: 400px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 300px;
}

#cursor-slider a img {
  height: 100%;
  left: 0;
  object-fit: contain;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(4);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
}

#cursor-slider a:hover .img-wrapper {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#cursor-slider a:hover img {
  opacity: 1;
  transform: scale(1.5);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
