@import "tailwindcss";

.custom-horizontal-line {
  background: #a93939;
  height: 3px;
  position: relative;
  width: 140px;
  z-index: 1;
}

.custom-horizontal-line::after,
.custom-horizontal-line::before {
  background: rgba(169, 57, 57, 0.8);
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 150%;
  z-index: -1;
}

.background-grey {
  background: #c8c6c6;
}

.background-black {
  background: #0f0f0f;
}
